.menu {
  &__logo {
    border-radius: 50%;
    width: 65px;
  }
}

.language__image {
  width: 43px;
  height: 40px;
}

.content {
  max-width: 90%;
  margin: 0 auto;
}

.about__img {
  max-width: 90%;
  max-height: 90%;
}